/*
* Name: Spaceduck
* Author: Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)
*/

html[data-theme="spaceduck"][data-mode="dark"] {
	--bg:       #16172d;
	--bg-light: #1b1c36;
	--text:     #ecf0c1;
	--brand:    #ecf0c1;   // FIXME  Base24 #;
	--accent:   #ecf0c1;  // FIXME Base24 #
	--primary:  #ecf0c1;  TODO!
	--secondary: #ecf0c1;  // FIXME Base24 #
	--comment:  #818596;
	--meta:      #ecf0c1;  // TODO!
	--operator: #ecf0c1;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b3a1e6;  // this matches base16 - FIXME Base24 #;
	--regex:    #00a3cc;  // this matches base16
	--property: #ecf0c1;  // base24 #;
	--string:   #5ccc96;  // this matches base16
	--literal:  #e39400;  // FIXME Base24 #;
	--hint:     #f2ce00;  // FIXME Base24 #;


    --success:  #5ccc96;  // 14 used by gruvbox dark
    --warning:  #e39400;  // 13 used by gruvbox dark
    --info:     #00a3cc;  // 16 used by gruvbox dark
    --error:    #e33400;  // matches base16 - 12 used by gruvbox dark
}
