/*
* Name: Gotham
* Author: Andrea Leopardi (arranged by Brett Jones)
*/

html[data-theme="gotham"][data-mode="dark"] {
	--bg:       #0c1014;
	--bg-light: #11151c;
	--text:     #599cab;
	--brand:    #599cab;   // FIXME  Base24 #;
	--accent:   #599cab;  // FIXME Base24 #
	--primary:  #599cab;  TODO!
	--secondary: #599cab;  // FIXME Base24 #
	--comment:  #245361;
	--meta:      #599cab;  // TODO!
	--operator: #599cab;  // this matches base16 - FIXME Base24 #;
	--keyword:  #888ca6;  // this matches base16 - FIXME Base24 #;
	--regex:    #2aa889;  // this matches base16
	--property: #599cab;  // base24 #;
	--string:   #33859e;  // this matches base16
	--literal:  #d26937;  // FIXME Base24 #;
	--hint:     #edb443;  // FIXME Base24 #;


    --success:  #33859e;  // 14 used by gruvbox dark
    --warning:  #d26937;  // 13 used by gruvbox dark
    --info:     #2aa889;  // 16 used by gruvbox dark
    --error:    #c23127;  // matches base16 - 12 used by gruvbox dark
}
