/*
* Name: Sakura
* Author: Misterio77 (http://github.com/Misterio77)
*/

html[data-theme="sakura"][data-mode="light"] {
	--bg:       #feedf3;
	--bg-light: #f8e2e7;
	--text:     #564448;
	--brand:    #564448;   // FIXME  Base24 #;
	--accent:   #564448;  // FIXME Base24 #
	--primary:  #564448;  TODO!
	--secondary: #564448;  // FIXME Base24 #
	--comment:  #665055;
	--meta:      #564448;  // TODO!
	--operator: #564448;  // this matches base16 - FIXME Base24 #;
	--keyword:  #5e2180;  // this matches base16 - FIXME Base24 #;
	--regex:    #1d8991;  // this matches base16
	--property: #564448;  // base24 #;
	--string:   #2e916d;  // this matches base16
	--literal:  #f6661e;  // FIXME Base24 #;
	--hint:     #c29461;  // FIXME Base24 #;


    --success:  #2e916d;  // 14 used by gruvbox dark
    --warning:  #f6661e;  // 13 used by gruvbox dark
    --info:     #1d8991;  // 16 used by gruvbox dark
    --error:    #df2d52;  // matches base16 - 12 used by gruvbox dark
}
