/*
* Name: Tomorrow Night Eighties
* Author: Chris Kempson (http://chriskempson.com)
*/

html[data-theme="tomorrow-night-eighties"][data-mode="dark"] {
	--bg:       #2d2d2d;
	--bg-light: #393939;
	--text:     #cccccc;
	--brand:    #cccccc;   // FIXME  Base24 #;
	--accent:   #cccccc;  // FIXME Base24 #
	--primary:  #cccccc;  TODO!
	--secondary: #cccccc;  // FIXME Base24 #
	--comment:  #b4b7b4;
	--meta:      #cccccc;  // TODO!
	--operator: #cccccc;  // this matches base16 - FIXME Base24 #;
	--keyword:  #cc99cc;  // this matches base16 - FIXME Base24 #;
	--regex:    #66cccc;  // this matches base16
	--property: #cccccc;  // base24 #;
	--string:   #99cc99;  // this matches base16
	--literal:  #f99157;  // FIXME Base24 #;
	--hint:     #ffcc66;  // FIXME Base24 #;


    --success:  #99cc99;  // 14 used by gruvbox dark
    --warning:  #f99157;  // 13 used by gruvbox dark
    --info:     #66cccc;  // 16 used by gruvbox dark
    --error:    #f2777a;  // matches base16 - 12 used by gruvbox dark
}
