/*
* Name: selenized-black
* Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
*/

html[data-theme="selenized-black"][data-mode="dark"] {
	--bg:       #181818;
	--bg-light: #252525;
	--text:     #b9b9b9;
	--brand:    #b9b9b9;   // FIXME  Base24 #;
	--accent:   #b9b9b9;  // FIXME Base24 #
	--primary:  #b9b9b9;  TODO!
	--secondary: #b9b9b9;  // FIXME Base24 #
	--comment:  #777777;
	--meta:      #b9b9b9;  // TODO!
	--operator: #b9b9b9;  // this matches base16 - FIXME Base24 #;
	--keyword:  #a580e2;  // this matches base16 - FIXME Base24 #;
	--regex:    #3fc5b7;  // this matches base16
	--property: #b9b9b9;  // base24 #;
	--string:   #70b433;  // this matches base16
	--literal:  #e67f43;  // FIXME Base24 #;
	--hint:     #dbb32d;  // FIXME Base24 #;


    --success:  #70b433;  // 14 used by gruvbox dark
    --warning:  #e67f43;  // 13 used by gruvbox dark
    --info:     #3fc5b7;  // 16 used by gruvbox dark
    --error:    #ed4a46;  // matches base16 - 12 used by gruvbox dark
}
