/*
* Name: Everforest Dark Medium
* Author: Sainnhe Park (https://github.com/sainnhe)
*/

html[data-theme="everforest-dark-medium"][data-mode="dark"] {
	--bg:       #2d353b;
	--bg-light: #343f44;
	--text:     #859289;
	--brand:    #859289;   // FIXME  Base24 #;
	--accent:   #859289;  // FIXME Base24 #
	--primary:  #859289;  TODO!
	--secondary: #859289;  // FIXME Base24 #
	--comment:  #7a8478;
	--meta:      #859289;  // TODO!
	--operator: #859289;  // this matches base16 - FIXME Base24 #;
	--keyword:  #d699b6;  // this matches base16 - FIXME Base24 #;
	--regex:    #83c092;  // this matches base16
	--property: #859289;  // base24 #;
	--string:   #a7c080;  // this matches base16
	--literal:  #e69875;  // FIXME Base24 #;
	--hint:     #dbbc7f;  // FIXME Base24 #;


    --success:  #a7c080;  // 14 used by gruvbox dark
    --warning:  #e69875;  // 13 used by gruvbox dark
    --info:     #83c092;  // 16 used by gruvbox dark
    --error:    #e67e80;  // matches base16 - 12 used by gruvbox dark
}
