/*
* Name: Google Dark
* Author: Seth Wright (http://sethawright.com)
*/

html[data-theme="google-dark"][data-mode="dark"] {
	--bg:       #1d1f21;
	--bg-light: #282a2e;
	--text:     #c5c8c6;
	--brand:    #c5c8c6;   // FIXME  Base24 #;
	--accent:   #c5c8c6;  // FIXME Base24 #
	--primary:  #c5c8c6;  TODO!
	--secondary: #c5c8c6;  // FIXME Base24 #
	--comment:  #b4b7b4;
	--meta:      #c5c8c6;  // TODO!
	--operator: #c5c8c6;  // this matches base16 - FIXME Base24 #;
	--keyword:  #a36ac7;  // this matches base16 - FIXME Base24 #;
	--regex:    #3971ed;  // this matches base16
	--property: #c5c8c6;  // base24 #;
	--string:   #198844;  // this matches base16
	--literal:  #f96a38;  // FIXME Base24 #;
	--hint:     #fba922;  // FIXME Base24 #;


    --success:  #198844;  // 14 used by gruvbox dark
    --warning:  #f96a38;  // 13 used by gruvbox dark
    --info:     #3971ed;  // 16 used by gruvbox dark
    --error:    #cc342b;  // matches base16 - 12 used by gruvbox dark
}
