/*
* Name: Solarized Light
* Author: Ethan Schoonover (modified by aramisgithub)
*/

html[data-theme="solarized-light"][data-mode="light"] {
	--bg:       #fdf6e3;
	--bg-light: #eee8d5;
	--text:     #586e75;
	--brand:    #586e75;   // FIXME  Base24 #;
	--accent:   #586e75;  // FIXME Base24 #
	--primary:  #586e75;  TODO!
	--secondary: #586e75;  // FIXME Base24 #
	--comment:  #657b83;
	--meta:      #586e75;  // TODO!
	--operator: #586e75;  // this matches base16 - FIXME Base24 #;
	--keyword:  #6c71c4;  // this matches base16 - FIXME Base24 #;
	--regex:    #2aa198;  // this matches base16
	--property: #586e75;  // base24 #;
	--string:   #859900;  // this matches base16
	--literal:  #cb4b16;  // FIXME Base24 #;
	--hint:     #b58900;  // FIXME Base24 #;


    --success:  #859900;  // 14 used by gruvbox dark
    --warning:  #cb4b16;  // 13 used by gruvbox dark
    --info:     #2aa198;  // 16 used by gruvbox dark
    --error:    #dc322f;  // matches base16 - 12 used by gruvbox dark
}
