/*
* Name: PaperColor Dark
* Author: Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
*/

html[data-theme="papercolor-dark"][data-mode="dark"] {
	--bg:       #1c1c1c;
	--bg-light: #363636;
	--text:     #9e9e9e;
	--brand:    #9e9e9e;   // FIXME  Base24 #;
	--accent:   #9e9e9e;  // FIXME Base24 #
	--primary:  #9e9e9e;  TODO!
	--secondary: #9e9e9e;  // FIXME Base24 #
	--comment:  #808080;
	--meta:      #9e9e9e;  // TODO!
	--operator: #9e9e9e;  // this matches base16 - FIXME Base24 #;
	--keyword:  #af87d7;  // this matches base16 - FIXME Base24 #;
	--regex:    #00afaf;  // this matches base16
	--property: #9e9e9e;  // base24 #;
	--string:   #5faf5f;  // this matches base16
	--literal:  #d7af5f;  // FIXME Base24 #;
	--hint:     #ffaf00;  // FIXME Base24 #;


    --success:  #5faf5f;  // 14 used by gruvbox dark
    --warning:  #d7af5f;  // 13 used by gruvbox dark
    --info:     #00afaf;  // 16 used by gruvbox dark
    --error:    #ff5faf;  // matches base16 - 12 used by gruvbox dark
}
