/*
* Name: Isotope
* Author: Jan T. Sott
*/

html[data-theme="isotope"][data-mode="dark"] {
	--bg:       #000000;
	--bg-light: #404040;
	--text:     #d0d0d0;
	--brand:    #d0d0d0;   // FIXME  Base24 #;
	--accent:   #d0d0d0;  // FIXME Base24 #
	--primary:  #d0d0d0;  TODO!
	--secondary: #d0d0d0;  // FIXME Base24 #
	--comment:  #c0c0c0;
	--meta:      #d0d0d0;  // TODO!
	--operator: #d0d0d0;  // this matches base16 - FIXME Base24 #;
	--keyword:  #cc00ff;  // this matches base16 - FIXME Base24 #;
	--regex:    #00ffff;  // this matches base16
	--property: #d0d0d0;  // base24 #;
	--string:   #33ff00;  // this matches base16
	--literal:  #ff9900;  // FIXME Base24 #;
	--hint:     #ff0099;  // FIXME Base24 #;


    --success:  #33ff00;  // 14 used by gruvbox dark
    --warning:  #ff9900;  // 13 used by gruvbox dark
    --info:     #00ffff;  // 16 used by gruvbox dark
    --error:    #ff0000;  // matches base16 - 12 used by gruvbox dark
}
