/*
* Name: Penumbra Light Contrast Plus Plus
* Author: Zachary Weiss (https://github.com/zacharyweiss)
*/

html[data-theme="penumbra-light-contrast-plus-plus"][data-mode="light"] {
	--bg:       #fffdfb;
	--bg-light: #fff7ed;
	--text:     #636363;
	--brand:    #636363;   // FIXME  Base24 #;
	--accent:   #636363;  // FIXME Base24 #
	--primary:  #636363;  TODO!
	--secondary: #636363;  // FIXME Base24 #
	--comment:  #aeaeae;
	--meta:      #636363;  // TODO!
	--operator: #636363;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b69cf6;  // this matches base16 - FIXME Base24 #;
	--regex:    #00c4d7;  // this matches base16
	--property: #636363;  // base24 #;
	--string:   #54c794;  // this matches base16
	--literal:  #e09f47;  // FIXME Base24 #;
	--hint:     #a9b852;  // FIXME Base24 #;


    --success:  #54c794;  // 14 used by gruvbox dark
    --warning:  #e09f47;  // 13 used by gruvbox dark
    --info:     #00c4d7;  // 16 used by gruvbox dark
    --error:    #f58c81;  // matches base16 - 12 used by gruvbox dark
}
