/*
* Name: Ascendancy
* Author: EmergentMind (https://github.com/emergentmind/ascendancy-scheme)
*/

html[data-theme="ascendancy"][data-mode="dark"] {
	--bg:       #282828;
	--bg-light: #212f3d;
	--text:     #d5c7a1;
	--brand:    #d5c7a1;   // FIXME  Base24 #;
	--accent:   #d5c7a1;  // FIXME Base24 #
	--primary:  #d5c7a1;  TODO!
	--secondary: #d5c7a1;  // FIXME Base24 #
	--comment:  #bdae93;
	--meta:      #d5c7a1;  // TODO!
	--operator: #d5c7a1;  // this matches base16 - FIXME Base24 #;
	--keyword:  #fabd2f;  // this matches base16 - FIXME Base24 #;
	--regex:    #8f3f71;  // this matches base16
	--property: #d5c7a1;  // base24 #;
	--string:   #b8bb26;  // this matches base16
	--literal:  #fe8019;  // FIXME Base24 #;
	--hint:     #ffcc1b;  // FIXME Base24 #;


    --success:  #b8bb26;  // 14 used by gruvbox dark
    --warning:  #fe8019;  // 13 used by gruvbox dark
    --info:     #8f3f71;  // 16 used by gruvbox dark
    --error:    #c03900;  // matches base16 - 12 used by gruvbox dark
}
