/*
* Name: Materia
* Author: Defman21
*/

html[data-theme="materia"][data-mode="dark"] {
	--bg:       #263238;
	--bg-light: #2c393f;
	--text:     #cdd3de;
	--brand:    #cdd3de;   // FIXME  Base24 #;
	--accent:   #cdd3de;  // FIXME Base24 #
	--primary:  #cdd3de;  TODO!
	--secondary: #cdd3de;  // FIXME Base24 #
	--comment:  #c9ccd3;
	--meta:      #cdd3de;  // TODO!
	--operator: #cdd3de;  // this matches base16 - FIXME Base24 #;
	--keyword:  #82aaff;  // this matches base16 - FIXME Base24 #;
	--regex:    #80cbc4;  // this matches base16
	--property: #cdd3de;  // base24 #;
	--string:   #8bd649;  // this matches base16
	--literal:  #ea9560;  // FIXME Base24 #;
	--hint:     #ffcc00;  // FIXME Base24 #;


    --success:  #8bd649;  // 14 used by gruvbox dark
    --warning:  #ea9560;  // 13 used by gruvbox dark
    --info:     #80cbc4;  // 16 used by gruvbox dark
    --error:    #ec5f67;  // matches base16 - 12 used by gruvbox dark
}
