/*
* Name: Green Screen
* Author: Chris Kempson (http://chriskempson.com)
*/

html[data-theme="greenscreen"][data-mode="dark"] {
	--bg:       #001100;
	--bg-light: #003300;
	--text:     #00bb00;
	--brand:    #00bb00;   // FIXME  Base24 #;
	--accent:   #00bb00;  // FIXME Base24 #
	--primary:  #00bb00;  TODO!
	--secondary: #00bb00;  // FIXME Base24 #
	--comment:  #009900;
	--meta:      #00bb00;  // TODO!
	--operator: #00bb00;  // this matches base16 - FIXME Base24 #;
	--keyword:  #00bb00;  // this matches base16 - FIXME Base24 #;
	--regex:    #005500;  // this matches base16
	--property: #00bb00;  // base24 #;
	--string:   #00bb00;  // this matches base16
	--literal:  #009900;  // FIXME Base24 #;
	--hint:     #007700;  // FIXME Base24 #;


    --success:  #00bb00;  // 14 used by gruvbox dark
    --warning:  #009900;  // 13 used by gruvbox dark
    --info:     #005500;  // 16 used by gruvbox dark
    --error:    #007700;  // matches base16 - 12 used by gruvbox dark
}
