/*
* Name: Spacemacs
* Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
*/

html[data-theme="spacemacs"][data-mode="dark"] {
	--bg:       #1f2022;
	--bg-light: #282828;
	--text:     #a3a3a3;
	--brand:    #a3a3a3;   // FIXME  Base24 #;
	--accent:   #a3a3a3;  // FIXME Base24 #
	--primary:  #a3a3a3;  TODO!
	--secondary: #a3a3a3;  // FIXME Base24 #
	--comment:  #b8b8b8;
	--meta:      #a3a3a3;  // TODO!
	--operator: #a3a3a3;  // this matches base16 - FIXME Base24 #;
	--keyword:  #a31db1;  // this matches base16 - FIXME Base24 #;
	--regex:    #2d9574;  // this matches base16
	--property: #a3a3a3;  // base24 #;
	--string:   #67b11d;  // this matches base16
	--literal:  #ffa500;  // FIXME Base24 #;
	--hint:     #b1951d;  // FIXME Base24 #;


    --success:  #67b11d;  // 14 used by gruvbox dark
    --warning:  #ffa500;  // 13 used by gruvbox dark
    --info:     #2d9574;  // 16 used by gruvbox dark
    --error:    #f2241f;  // matches base16 - 12 used by gruvbox dark
}
