/*
* Name: Windows 95
* Author: Fergus Collins (https://github.com/ferguscollins)
*/

html[data-theme="windows-95"][data-mode="dark"] {
	--bg:       #000000;
	--bg-light: #1c1c1c;
	--text:     #a8a8a8;
	--brand:    #a8a8a8;   // FIXME  Base24 #;
	--accent:   #a8a8a8;  // FIXME Base24 #
	--primary:  #a8a8a8;  TODO!
	--secondary: #a8a8a8;  // FIXME Base24 #
	--comment:  #7e7e7e;
	--meta:      #a8a8a8;  // TODO!
	--operator: #a8a8a8;  // this matches base16 - FIXME Base24 #;
	--keyword:  #fc54fc;  // this matches base16 - FIXME Base24 #;
	--regex:    #54fcfc;  // this matches base16
	--property: #a8a8a8;  // base24 #;
	--string:   #54fc54;  // this matches base16
	--literal:  #a85400;  // FIXME Base24 #;
	--hint:     #fcfc54;  // FIXME Base24 #;


    --success:  #54fc54;  // 14 used by gruvbox dark
    --warning:  #a85400;  // 13 used by gruvbox dark
    --info:     #54fcfc;  // 16 used by gruvbox dark
    --error:    #fc5454;  // matches base16 - 12 used by gruvbox dark
}
