/*
* Name: Default Dark
* Author: Chris Kempson (http://chriskempson.com)
*/

html[data-theme="default-dark"][data-mode="dark"] {
	--bg:       #181818;
	--bg-light: #282828;
	--text:     #d8d8d8;
	--brand:    #d8d8d8;   // FIXME  Base24 #;
	--accent:   #d8d8d8;  // FIXME Base24 #
	--primary:  #d8d8d8;  TODO!
	--secondary: #d8d8d8;  // FIXME Base24 #
	--comment:  #b8b8b8;
	--meta:      #d8d8d8;  // TODO!
	--operator: #d8d8d8;  // this matches base16 - FIXME Base24 #;
	--keyword:  #ba8baf;  // this matches base16 - FIXME Base24 #;
	--regex:    #86c1b9;  // this matches base16
	--property: #d8d8d8;  // base24 #;
	--string:   #a1b56c;  // this matches base16
	--literal:  #dc9656;  // FIXME Base24 #;
	--hint:     #f7ca88;  // FIXME Base24 #;


    --success:  #a1b56c;  // 14 used by gruvbox dark
    --warning:  #dc9656;  // 13 used by gruvbox dark
    --info:     #86c1b9;  // 16 used by gruvbox dark
    --error:    #ab4642;  // matches base16 - 12 used by gruvbox dark
}
