/*
* Name: Codeschool
* Author: blockloop
*/

html[data-theme="codeschool"][data-mode="dark"] {
	--bg:       #232c31;
	--bg-light: #1c3657;
	--text:     #9ea7a6;
	--brand:    #9ea7a6;   // FIXME  Base24 #;
	--accent:   #9ea7a6;  // FIXME Base24 #
	--primary:  #9ea7a6;  TODO!
	--secondary: #9ea7a6;  // FIXME Base24 #
	--comment:  #84898c;
	--meta:      #9ea7a6;  // TODO!
	--operator: #9ea7a6;  // this matches base16 - FIXME Base24 #;
	--keyword:  #c59820;  // this matches base16 - FIXME Base24 #;
	--regex:    #b02f30;  // this matches base16
	--property: #9ea7a6;  // base24 #;
	--string:   #237986;  // this matches base16
	--literal:  #43820d;  // FIXME Base24 #;
	--hint:     #a03b1e;  // FIXME Base24 #;


    --success:  #237986;  // 14 used by gruvbox dark
    --warning:  #43820d;  // 13 used by gruvbox dark
    --info:     #b02f30;  // 16 used by gruvbox dark
    --error:    #2a5491;  // matches base16 - 12 used by gruvbox dark
}
