/*
* Name: Atelier Plateau Light
* Author: Bram de Haan (http://atelierbramdehaan.nl)
*/

html[data-theme="atelier-plateau-light"][data-mode="light"] {
	--bg:       #f4ecec;
	--bg-light: #e7dfdf;
	--text:     #585050;
	--brand:    #585050;   // FIXME  Base24 #;
	--accent:   #585050;  // FIXME Base24 #
	--primary:  #585050;  TODO!
	--secondary: #585050;  // FIXME Base24 #
	--comment:  #655d5d;
	--meta:      #585050;  // TODO!
	--operator: #585050;  // this matches base16 - FIXME Base24 #;
	--keyword:  #8464c4;  // this matches base16 - FIXME Base24 #;
	--regex:    #5485b6;  // this matches base16
	--property: #585050;  // base24 #;
	--string:   #4b8b8b;  // this matches base16
	--literal:  #b45a3c;  // FIXME Base24 #;
	--hint:     #a06e3b;  // FIXME Base24 #;


    --success:  #4b8b8b;  // 14 used by gruvbox dark
    --warning:  #b45a3c;  // 13 used by gruvbox dark
    --info:     #5485b6;  // 16 used by gruvbox dark
    --error:    #ca4949;  // matches base16 - 12 used by gruvbox dark
}
