/*
* Name: Tokyodark Terminal
* Author: Tiagovla (https://github.com/tiagovla/)
*/

html[data-theme="tokyodark-terminal"][data-mode="dark"] {
	--bg:       #11121d;
	--bg-light: #1a1b2a;
	--text:     #a0a8cd;
	--brand:    #a0a8cd;   // FIXME  Base24 #;
	--accent:   #a0a8cd;  // FIXME Base24 #
	--primary:  #a0a8cd;  TODO!
	--secondary: #a0a8cd;  // FIXME Base24 #
	--comment:  #4a5057;
	--meta:      #a0a8cd;  // TODO!
	--operator: #a0a8cd;  // this matches base16 - FIXME Base24 #;
	--keyword:  #a485dd;  // this matches base16 - FIXME Base24 #;
	--regex:    #38a89d;  // this matches base16
	--property: #a0a8cd;  // base24 #;
	--string:   #95c561;  // this matches base16
	--literal:  #f6955b;  // FIXME Base24 #;
	--hint:     #d7a65f;  // FIXME Base24 #;


    --success:  #95c561;  // 14 used by gruvbox dark
    --warning:  #f6955b;  // 13 used by gruvbox dark
    --info:     #38a89d;  // 16 used by gruvbox dark
    --error:    #ee6d85;  // matches base16 - 12 used by gruvbox dark
}
