/*
* Name: Icy Dark
* Author: icyphox (https://icyphox.ga)
*/

html[data-theme="icy"][data-mode="dark"] {
	--bg:       #021012;
	--bg-light: #031619;
	--text:     #095b67;
	--brand:    #095b67;   // FIXME  Base24 #;
	--accent:   #095b67;  // FIXME Base24 #
	--primary:  #095b67;  TODO!
	--secondary: #095b67;  // FIXME Base24 #
	--comment:  #064048;
	--meta:      #095b67;  // TODO!
	--operator: #095b67;  // this matches base16 - FIXME Base24 #;
	--keyword:  #00acc1;  // this matches base16 - FIXME Base24 #;
	--regex:    #26c6da;  // this matches base16
	--property: #095b67;  // base24 #;
	--string:   #4dd0e1;  // this matches base16
	--literal:  #b3ebf2;  // FIXME Base24 #;
	--hint:     #80deea;  // FIXME Base24 #;


    --success:  #4dd0e1;  // 14 used by gruvbox dark
    --warning:  #b3ebf2;  // 13 used by gruvbox dark
    --info:     #26c6da;  // 16 used by gruvbox dark
    --error:    #16c1d9;  // matches base16 - 12 used by gruvbox dark
}
