/*
* Name: Evenok Dark
* Author: Mekeor Melire
*/

html[data-theme="evenok-dark"][data-mode="dark"] {
	--bg:       #000000;
	--bg-light: #202020;
	--text:     #d0d0d0;
	--brand:    #d0d0d0;   // FIXME  Base24 #;
	--accent:   #d0d0d0;  // FIXME Base24 #
	--primary:  #d0d0d0;  TODO!
	--secondary: #d0d0d0;  // FIXME Base24 #
	--comment:  #b0b0b0;
	--meta:      #d0d0d0;  // TODO!
	--operator: #d0d0d0;  // this matches base16 - FIXME Base24 #;
	--keyword:  #9095ff;  // this matches base16 - FIXME Base24 #;
	--regex:    #00bab3;  // this matches base16
	--property: #d0d0d0;  // base24 #;
	--string:   #54bc5c;  // this matches base16
	--literal:  #ee8122;  // FIXME Base24 #;
	--hint:     #b8a300;  // FIXME Base24 #;


    --success:  #54bc5c;  // 14 used by gruvbox dark
    --warning:  #ee8122;  // 13 used by gruvbox dark
    --info:     #00bab3;  // 16 used by gruvbox dark
    --error:    #f5708a;  // matches base16 - 12 used by gruvbox dark
}
