/*
* Name: selenized-dark
* Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
*/

html[data-theme="selenized-dark"][data-mode="dark"] {
	--bg:       #103c48;
	--bg-light: #184956;
	--text:     #adbcbc;
	--brand:    #adbcbc;   // FIXME  Base24 #;
	--accent:   #adbcbc;  // FIXME Base24 #
	--primary:  #adbcbc;  TODO!
	--secondary: #adbcbc;  // FIXME Base24 #
	--comment:  #72898f;
	--meta:      #adbcbc;  // TODO!
	--operator: #adbcbc;  // this matches base16 - FIXME Base24 #;
	--keyword:  #af88eb;  // this matches base16 - FIXME Base24 #;
	--regex:    #41c7b9;  // this matches base16
	--property: #adbcbc;  // base24 #;
	--string:   #75b938;  // this matches base16
	--literal:  #ed8649;  // FIXME Base24 #;
	--hint:     #dbb32d;  // FIXME Base24 #;


    --success:  #75b938;  // 14 used by gruvbox dark
    --warning:  #ed8649;  // 13 used by gruvbox dark
    --info:     #41c7b9;  // 16 used by gruvbox dark
    --error:    #fa5750;  // matches base16 - 12 used by gruvbox dark
}
