/*
* Name: Mountain
* Author: gnsfujiwara (https://github.com/gnsfujiwara)
*/

html[data-theme="mountain"][data-mode="dark"] {
	--bg:       #0f0f0f;
	--bg-light: #191919;
	--text:     #cacaca;
	--brand:    #cacaca;   // FIXME  Base24 #;
	--accent:   #cacaca;  // FIXME Base24 #
	--primary:  #cacaca;  TODO!
	--secondary: #cacaca;  // FIXME Base24 #
	--comment:  #4c4c4c;
	--meta:      #cacaca;  // TODO!
	--operator: #cacaca;  // this matches base16 - FIXME Base24 #;
	--keyword:  #ac8aac;  // this matches base16 - FIXME Base24 #;
	--regex:    #8aabac;  // this matches base16
	--property: #cacaca;  // base24 #;
	--string:   #8aac8b;  // this matches base16
	--literal:  #ceb188;  // FIXME Base24 #;
	--hint:     #aca98a;  // FIXME Base24 #;


    --success:  #8aac8b;  // 14 used by gruvbox dark
    --warning:  #ceb188;  // 13 used by gruvbox dark
    --info:     #8aabac;  // 16 used by gruvbox dark
    --error:    #ac8a8c;  // matches base16 - 12 used by gruvbox dark
}
