/*
* Name: Paraiso
* Author: Jan T. Sott
*/

html[data-theme="paraiso"][data-mode="dark"] {
	--bg:       #2f1e2e;
	--bg-light: #41323f;
	--text:     #a39e9b;
	--brand:    #a39e9b;   // FIXME  Base24 #;
	--accent:   #a39e9b;  // FIXME Base24 #
	--primary:  #a39e9b;  TODO!
	--secondary: #a39e9b;  // FIXME Base24 #
	--comment:  #8d8687;
	--meta:      #a39e9b;  // TODO!
	--operator: #a39e9b;  // this matches base16 - FIXME Base24 #;
	--keyword:  #815ba4;  // this matches base16 - FIXME Base24 #;
	--regex:    #5bc4bf;  // this matches base16
	--property: #a39e9b;  // base24 #;
	--string:   #48b685;  // this matches base16
	--literal:  #f99b15;  // FIXME Base24 #;
	--hint:     #fec418;  // FIXME Base24 #;


    --success:  #48b685;  // 14 used by gruvbox dark
    --warning:  #f99b15;  // 13 used by gruvbox dark
    --info:     #5bc4bf;  // 16 used by gruvbox dark
    --error:    #ef6155;  // matches base16 - 12 used by gruvbox dark
}
