/*
* Name: Atelier Plateau
* Author: Bram de Haan (http://atelierbramdehaan.nl)
*/

html[data-theme="atelier-plateau"][data-mode="dark"] {
	--bg:       #1b1818;
	--bg-light: #292424;
	--text:     #8a8585;
	--brand:    #8a8585;   // FIXME  Base24 #;
	--accent:   #8a8585;  // FIXME Base24 #
	--primary:  #8a8585;  TODO!
	--secondary: #8a8585;  // FIXME Base24 #
	--comment:  #7e7777;
	--meta:      #8a8585;  // TODO!
	--operator: #8a8585;  // this matches base16 - FIXME Base24 #;
	--keyword:  #8464c4;  // this matches base16 - FIXME Base24 #;
	--regex:    #5485b6;  // this matches base16
	--property: #8a8585;  // base24 #;
	--string:   #4b8b8b;  // this matches base16
	--literal:  #b45a3c;  // FIXME Base24 #;
	--hint:     #a06e3b;  // FIXME Base24 #;


    --success:  #4b8b8b;  // 14 used by gruvbox dark
    --warning:  #b45a3c;  // 13 used by gruvbox dark
    --info:     #5485b6;  // 16 used by gruvbox dark
    --error:    #ca4949;  // matches base16 - 12 used by gruvbox dark
}
