/*
* Name: iA Light
* Author: iA Inc. (modified by aramisgithub)
*/

html[data-theme="ia-light"][data-mode="light"] {
	--bg:       #f6f6f6;
	--bg-light: #dedede;
	--text:     #181818;
	--brand:    #181818;   // FIXME  Base24 #;
	--accent:   #181818;  // FIXME Base24 #
	--primary:  #181818;  TODO!
	--secondary: #181818;  // FIXME Base24 #
	--comment:  #767676;
	--meta:      #181818;  // TODO!
	--operator: #181818;  // this matches base16 - FIXME Base24 #;
	--keyword:  #a94598;  // this matches base16 - FIXME Base24 #;
	--regex:    #2d6bb1;  // this matches base16
	--property: #181818;  // base24 #;
	--string:   #38781c;  // this matches base16
	--literal:  #c43e18;  // FIXME Base24 #;
	--hint:     #c48218;  // FIXME Base24 #;


    --success:  #38781c;  // 14 used by gruvbox dark
    --warning:  #c43e18;  // 13 used by gruvbox dark
    --info:     #2d6bb1;  // 16 used by gruvbox dark
    --error:    #9c5a02;  // matches base16 - 12 used by gruvbox dark
}
