/*
* Name: Snazzy
* Author: Chawye Hsu (https://github.com/chawyehsu), based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
*/

html[data-theme="snazzy"][data-mode="dark"] {
	--bg:       #282a36;
	--bg-light: #34353e;
	--text:     #e2e4e5;
	--brand:    #e2e4e5;   // FIXME  Base24 #;
	--accent:   #e2e4e5;  // FIXME Base24 #
	--primary:  #e2e4e5;  TODO!
	--secondary: #e2e4e5;  // FIXME Base24 #
	--comment:  #a5a5a9;
	--meta:      #e2e4e5;  // TODO!
	--operator: #e2e4e5;  // this matches base16 - FIXME Base24 #;
	--keyword:  #ff6ac1;  // this matches base16 - FIXME Base24 #;
	--regex:    #9aedfe;  // this matches base16
	--property: #e2e4e5;  // base24 #;
	--string:   #5af78e;  // this matches base16
	--literal:  #ff9f43;  // FIXME Base24 #;
	--hint:     #f3f99d;  // FIXME Base24 #;


    --success:  #5af78e;  // 14 used by gruvbox dark
    --warning:  #ff9f43;  // 13 used by gruvbox dark
    --info:     #9aedfe;  // 16 used by gruvbox dark
    --error:    #ff5c57;  // matches base16 - 12 used by gruvbox dark
}
