/*
* Name: OceanicNext
* Author: https://github.com/voronianski/oceanic-next-color-scheme
*/

html[data-theme="oceanicnext"][data-mode="dark"] {
	--bg:       #1b2b34;
	--bg-light: #343d46;
	--text:     #c0c5ce;
	--brand:    #c0c5ce;   // FIXME  Base24 #;
	--accent:   #c0c5ce;  // FIXME Base24 #
	--primary:  #c0c5ce;  TODO!
	--secondary: #c0c5ce;  // FIXME Base24 #
	--comment:  #a7adba;
	--meta:      #c0c5ce;  // TODO!
	--operator: #c0c5ce;  // this matches base16 - FIXME Base24 #;
	--keyword:  #c594c5;  // this matches base16 - FIXME Base24 #;
	--regex:    #5fb3b3;  // this matches base16
	--property: #c0c5ce;  // base24 #;
	--string:   #99c794;  // this matches base16
	--literal:  #f99157;  // FIXME Base24 #;
	--hint:     #fac863;  // FIXME Base24 #;


    --success:  #99c794;  // 14 used by gruvbox dark
    --warning:  #f99157;  // 13 used by gruvbox dark
    --info:     #5fb3b3;  // 16 used by gruvbox dark
    --error:    #ec5f67;  // matches base16 - 12 used by gruvbox dark
}
