/*
* Name: Precious Light White
* Author: 4lex4 &lt;4lex49@zoho.com&gt;
*/

html[data-theme="precious-light-white"][data-mode="light"] {
	--bg:       #ffffff;
	--bg-light: #ededed;
	--text:     #555555;
	--brand:    #555555;   // FIXME  Base24 #;
	--accent:   #555555;  // FIXME Base24 #
	--primary:  #555555;  TODO!
	--secondary: #555555;  // FIXME Base24 #
	--comment:  #636363;
	--meta:      #555555;  // TODO!
	--operator: #555555;  // this matches base16 - FIXME Base24 #;
	--keyword:  #7b4ecb;  // this matches base16 - FIXME Base24 #;
	--regex:    #087767;  // this matches base16
	--property: #555555;  // base24 #;
	--string:   #557301;  // this matches base16
	--literal:  #a0570d;  // FIXME Base24 #;
	--hint:     #876500;  // FIXME Base24 #;


    --success:  #557301;  // 14 used by gruvbox dark
    --warning:  #a0570d;  // 13 used by gruvbox dark
    --info:     #087767;  // 16 used by gruvbox dark
    --error:    #af4947;  // matches base16 - 12 used by gruvbox dark
}
