/*
* Name: Embers Light
* Author: Jannik Siebert (https://github.com/janniks)
*/

html[data-theme="embers-light"][data-mode="light"] {
	--bg:       #d1d6db;
	--bg-light: #aeb6be;
	--text:     #323b43;
	--brand:    #323b43;   // FIXME  Base24 #;
	--accent:   #323b43;  // FIXME Base24 #
	--primary:  #323b43;  TODO!
	--secondary: #323b43;  // FIXME Base24 #
	--comment:  #47505a;
	--meta:      #323b43;  // TODO!
	--operator: #323b43;  // this matches base16 - FIXME Base24 #;
	--keyword:  #6d5782;  // this matches base16 - FIXME Base24 #;
	--regex:    #826d57;  // this matches base16
	--property: #323b43;  // base24 #;
	--string:   #6d8257;  // this matches base16
	--literal:  #578282;  // FIXME Base24 #;
	--hint:     #57826d;  // FIXME Base24 #;


    --success:  #6d8257;  // 14 used by gruvbox dark
    --warning:  #578282;  // 13 used by gruvbox dark
    --info:     #826d57;  // 16 used by gruvbox dark
    --error:    #576d82;  // matches base16 - 12 used by gruvbox dark
}
