/*
* Name: Atelier Heath
* Author: Bram de Haan (http://atelierbramdehaan.nl)
*/

html[data-theme="atelier-heath"][data-mode="dark"] {
	--bg:       #1b181b;
	--bg-light: #292329;
	--text:     #ab9bab;
	--brand:    #ab9bab;   // FIXME  Base24 #;
	--accent:   #ab9bab;  // FIXME Base24 #
	--primary:  #ab9bab;  TODO!
	--secondary: #ab9bab;  // FIXME Base24 #
	--comment:  #9e8f9e;
	--meta:      #ab9bab;  // TODO!
	--operator: #ab9bab;  // this matches base16 - FIXME Base24 #;
	--keyword:  #7b59c0;  // this matches base16 - FIXME Base24 #;
	--regex:    #159393;  // this matches base16
	--property: #ab9bab;  // base24 #;
	--string:   #918b3b;  // this matches base16
	--literal:  #a65926;  // FIXME Base24 #;
	--hint:     #bb8a35;  // FIXME Base24 #;


    --success:  #918b3b;  // 14 used by gruvbox dark
    --warning:  #a65926;  // 13 used by gruvbox dark
    --info:     #159393;  // 16 used by gruvbox dark
    --error:    #ca402b;  // matches base16 - 12 used by gruvbox dark
}
