/*
* Name: Atelier Dune Light
* Author: Bram de Haan (http://atelierbramdehaan.nl)
*/

html[data-theme="atelier-dune-light"][data-mode="light"] {
	--bg:       #fefbec;
	--bg-light: #e8e4cf;
	--text:     #6e6b5e;
	--brand:    #6e6b5e;   // FIXME  Base24 #;
	--accent:   #6e6b5e;  // FIXME Base24 #
	--primary:  #6e6b5e;  TODO!
	--secondary: #6e6b5e;  // FIXME Base24 #
	--comment:  #7d7a68;
	--meta:      #6e6b5e;  // TODO!
	--operator: #6e6b5e;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b854d4;  // this matches base16 - FIXME Base24 #;
	--regex:    #1fad83;  // this matches base16
	--property: #6e6b5e;  // base24 #;
	--string:   #60ac39;  // this matches base16
	--literal:  #b65611;  // FIXME Base24 #;
	--hint:     #ae9513;  // FIXME Base24 #;


    --success:  #60ac39;  // 14 used by gruvbox dark
    --warning:  #b65611;  // 13 used by gruvbox dark
    --info:     #1fad83;  // 16 used by gruvbox dark
    --error:    #d73737;  // matches base16 - 12 used by gruvbox dark
}
