/*
* Name: Embers
* Author: Jannik Siebert (https://github.com/janniks)
*/

html[data-theme="embers"][data-mode="dark"] {
	--bg:       #16130f;
	--bg-light: #2c2620;
	--text:     #a39a90;
	--brand:    #a39a90;   // FIXME  Base24 #;
	--accent:   #a39a90;  // FIXME Base24 #
	--primary:  #a39a90;  TODO!
	--secondary: #a39a90;  // FIXME Base24 #
	--comment:  #8a8075;
	--meta:      #a39a90;  // TODO!
	--operator: #a39a90;  // this matches base16 - FIXME Base24 #;
	--keyword:  #82576d;  // this matches base16 - FIXME Base24 #;
	--regex:    #576d82;  // this matches base16
	--property: #a39a90;  // base24 #;
	--string:   #57826d;  // this matches base16
	--literal:  #828257;  // FIXME Base24 #;
	--hint:     #6d8257;  // FIXME Base24 #;


    --success:  #57826d;  // 14 used by gruvbox dark
    --warning:  #828257;  // 13 used by gruvbox dark
    --info:     #576d82;  // 16 used by gruvbox dark
    --error:    #826d57;  // matches base16 - 12 used by gruvbox dark
}
