/*
* Name: Atelier Lakeside
* Author: Bram de Haan (http://atelierbramdehaan.nl)
*/

html[data-theme="atelier-lakeside"][data-mode="dark"] {
	--bg:       #161b1d;
	--bg-light: #1f292e;
	--text:     #7ea2b4;
	--brand:    #7ea2b4;   // FIXME  Base24 #;
	--accent:   #7ea2b4;  // FIXME Base24 #
	--primary:  #7ea2b4;  TODO!
	--secondary: #7ea2b4;  // FIXME Base24 #
	--comment:  #7195a8;
	--meta:      #7ea2b4;  // TODO!
	--operator: #7ea2b4;  // this matches base16 - FIXME Base24 #;
	--keyword:  #6b6bb8;  // this matches base16 - FIXME Base24 #;
	--regex:    #2d8f6f;  // this matches base16
	--property: #7ea2b4;  // base24 #;
	--string:   #568c3b;  // this matches base16
	--literal:  #935c25;  // FIXME Base24 #;
	--hint:     #8a8a0f;  // FIXME Base24 #;


    --success:  #568c3b;  // 14 used by gruvbox dark
    --warning:  #935c25;  // 13 used by gruvbox dark
    --info:     #2d8f6f;  // 16 used by gruvbox dark
    --error:    #d22d72;  // matches base16 - 12 used by gruvbox dark
}
