/*
* Name: Cupertino
* Author: Defman21
*/

html[data-theme="cupertino"][data-mode="light"] {
	--bg:       #ffffff;
	--bg-light: #c0c0c0;
	--text:     #404040;
	--brand:    #404040;   // FIXME  Base24 #;
	--accent:   #404040;  // FIXME Base24 #
	--primary:  #404040;  TODO!
	--secondary: #404040;  // FIXME Base24 #
	--comment:  #808080;
	--meta:      #404040;  // TODO!
	--operator: #404040;  // this matches base16 - FIXME Base24 #;
	--keyword:  #a90d91;  // this matches base16 - FIXME Base24 #;
	--regex:    #318495;  // this matches base16
	--property: #404040;  // base24 #;
	--string:   #007400;  // this matches base16
	--literal:  #eb8500;  // FIXME Base24 #;
	--hint:     #826b28;  // FIXME Base24 #;


    --success:  #007400;  // 14 used by gruvbox dark
    --warning:  #eb8500;  // 13 used by gruvbox dark
    --info:     #318495;  // 16 used by gruvbox dark
    --error:    #c41a15;  // matches base16 - 12 used by gruvbox dark
}
