/*
* Name: Tokyo City Dark
* Author: Michaël Ball
*/

html[data-theme="tokyo-city-dark"][data-mode="dark"] {
	--bg:       #171d23;
	--bg-light: #1d252c;
	--text:     #d8e2ec;
	--brand:    #d8e2ec;   // FIXME  Base24 #;
	--accent:   #d8e2ec;  // FIXME Base24 #
	--primary:  #d8e2ec;  TODO!
	--secondary: #d8e2ec;  // FIXME Base24 #
	--comment:  #b7c5d3;
	--meta:      #d8e2ec;  // TODO!
	--operator: #d8e2ec;  // this matches base16 - FIXME Base24 #;
	--keyword:  #bb9af7;  // this matches base16 - FIXME Base24 #;
	--regex:    #89ddff;  // this matches base16
	--property: #d8e2ec;  // base24 #;
	--string:   #9ece6a;  // this matches base16
	--literal:  #ff9e64;  // FIXME Base24 #;
	--hint:     #b7c5d3;  // FIXME Base24 #;


    --success:  #9ece6a;  // 14 used by gruvbox dark
    --warning:  #ff9e64;  // 13 used by gruvbox dark
    --info:     #89ddff;  // 16 used by gruvbox dark
    --error:    #f7768e;  // matches base16 - 12 used by gruvbox dark
}
