/*
* Name: Chicago Day
* Author: Wendell, Ryan &lt;ryanjwendell@gmail.com&gt;
*/

html[data-theme="chicago-day"][data-mode="light"] {
	--bg:       #e8f0ea;
	--bg-light: #d1e0d7;
	--text:     #364c40;
	--brand:    #364c40;   // FIXME  Base24 #;
	--accent:   #364c40;  // FIXME Base24 #
	--primary:  #364c40;  TODO!
	--secondary: #364c40;  // FIXME Base24 #
	--comment:  #4b5a51;
	--meta:      #364c40;  // TODO!
	--operator: #364c40;  // this matches base16 - FIXME Base24 #;
	--keyword:  #e27ea6;  // this matches base16 - FIXME Base24 #;
	--regex:    #00a1de;  // this matches base16
	--property: #364c40;  // base24 #;
	--string:   #009b3a;  // this matches base16
	--literal:  #f9461c;  // FIXME Base24 #;
	--hint:     #968400;  // FIXME Base24 #;


    --success:  #009b3a;  // 14 used by gruvbox dark
    --warning:  #f9461c;  // 13 used by gruvbox dark
    --info:     #00a1de;  // 16 used by gruvbox dark
    --error:    #c60c30;  // matches base16 - 12 used by gruvbox dark
}
