/*
* Name: Mellow Purple
* Author: gidsi
*/

html[data-theme="mellow-purple"][data-mode="dark"] {
	--bg:       #1e0528;
	--bg-light: #1a092d;
	--text:     #ffeeff;
	--brand:    #ffeeff;   // FIXME  Base24 #;
	--accent:   #ffeeff;  // FIXME Base24 #
	--primary:  #ffeeff;  TODO!
	--secondary: #ffeeff;  // FIXME Base24 #
	--comment:  #873582;
	--meta:      #ffeeff;  // TODO!
	--operator: #ffeeff;  // this matches base16 - FIXME Base24 #;
	--keyword:  #8991bb;  // this matches base16 - FIXME Base24 #;
	--regex:    #b900b1;  // this matches base16
	--property: #ffeeff;  // base24 #;
	--string:   #05cb0d;  // this matches base16
	--literal:  #aa00a3;  // FIXME Base24 #;
	--hint:     #955ae7;  // FIXME Base24 #;


    --success:  #05cb0d;  // 14 used by gruvbox dark
    --warning:  #aa00a3;  // 13 used by gruvbox dark
    --info:     #b900b1;  // 16 used by gruvbox dark
    --error:    #00d9e9;  // matches base16 - 12 used by gruvbox dark
}
