/*
* Name: Material Darker
* Author: Nate Peterson
*/

html[data-theme="material-darker"][data-mode="dark"] {
	--bg:       #212121;
	--bg-light: #303030;
	--text:     #eeffff;
	--brand:    #eeffff;   // FIXME  Base24 #;
	--accent:   #eeffff;  // FIXME Base24 #
	--primary:  #eeffff;  TODO!
	--secondary: #eeffff;  // FIXME Base24 #
	--comment:  #b2ccd6;
	--meta:      #eeffff;  // TODO!
	--operator: #eeffff;  // this matches base16 - FIXME Base24 #;
	--keyword:  #c792ea;  // this matches base16 - FIXME Base24 #;
	--regex:    #89ddff;  // this matches base16
	--property: #eeffff;  // base24 #;
	--string:   #c3e88d;  // this matches base16
	--literal:  #f78c6c;  // FIXME Base24 #;
	--hint:     #ffcb6b;  // FIXME Base24 #;


    --success:  #c3e88d;  // 14 used by gruvbox dark
    --warning:  #f78c6c;  // 13 used by gruvbox dark
    --info:     #89ddff;  // 16 used by gruvbox dark
    --error:    #f07178;  // matches base16 - 12 used by gruvbox dark
}
