/*
* Name: Primer Dark Dimmed
* Author: Jimmy Lin
*/

html[data-theme="primer-dark-dimmed"][data-mode="dark"] {
	--bg:       #1c2128;
	--bg-light: #373e47;
	--text:     #909dab;
	--brand:    #909dab;   // FIXME  Base24 #;
	--accent:   #909dab;  // FIXME Base24 #
	--primary:  #909dab;  TODO!
	--secondary: #909dab;  // FIXME Base24 #
	--comment:  #768390;
	--meta:      #909dab;  // TODO!
	--operator: #909dab;  // this matches base16 - FIXME Base24 #;
	--keyword:  #e275ad;  // this matches base16 - FIXME Base24 #;
	--regex:    #96d0ff;  // this matches base16
	--property: #909dab;  // base24 #;
	--string:   #57ab5a;  // this matches base16
	--literal:  #e0823d;  // FIXME Base24 #;
	--hint:     #c69026;  // FIXME Base24 #;


    --success:  #57ab5a;  // 14 used by gruvbox dark
    --warning:  #e0823d;  // 13 used by gruvbox dark
    --info:     #96d0ff;  // 16 used by gruvbox dark
    --error:    #f47067;  // matches base16 - 12 used by gruvbox dark
}
