/*
* Name: Unikitty Reversible
* Author: Josh W Lewis (@joshwlewis)
*/

html[data-theme="unikitty-reversible"][data-mode="dark"] {
	--bg:       #2e2a31;
	--bg-light: #4b484e;
	--text:     #c3c2c4;
	--brand:    #c3c2c4;   // FIXME  Base24 #;
	--accent:   #c3c2c4;  // FIXME Base24 #
	--primary:  #c3c2c4;  TODO!
	--secondary: #c3c2c4;  // FIXME Base24 #
	--comment:  #a5a3a6;
	--meta:      #c3c2c4;  // TODO!
	--operator: #c3c2c4;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b33ce8;  // this matches base16 - FIXME Base24 #;
	--regex:    #149bda;  // this matches base16
	--property: #c3c2c4;  // base24 #;
	--string:   #17ad98;  // this matches base16
	--literal:  #d65407;  // FIXME Base24 #;
	--hint:     #dc8a0e;  // FIXME Base24 #;


    --success:  #17ad98;  // 14 used by gruvbox dark
    --warning:  #d65407;  // 13 used by gruvbox dark
    --info:     #149bda;  // 16 used by gruvbox dark
    --error:    #d8137f;  // matches base16 - 12 used by gruvbox dark
}
