/*
* Name: Windows 10
* Author: Fergus Collins (https://github.com/ferguscollins)
*/

html[data-theme="windows-10"][data-mode="dark"] {
	--bg:       #0c0c0c;
	--bg-light: #2f2f2f;
	--text:     #cccccc;
	--brand:    #cccccc;   // FIXME  Base24 #;
	--accent:   #cccccc;  // FIXME Base24 #
	--primary:  #cccccc;  TODO!
	--secondary: #cccccc;  // FIXME Base24 #
	--comment:  #b9b9b9;
	--meta:      #cccccc;  // TODO!
	--operator: #cccccc;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b4009e;  // this matches base16 - FIXME Base24 #;
	--regex:    #61d6d6;  // this matches base16
	--property: #cccccc;  // base24 #;
	--string:   #16c60c;  // this matches base16
	--literal:  #c19c00;  // FIXME Base24 #;
	--hint:     #f9f1a5;  // FIXME Base24 #;


    --success:  #16c60c;  // 14 used by gruvbox dark
    --warning:  #c19c00;  // 13 used by gruvbox dark
    --info:     #61d6d6;  // 16 used by gruvbox dark
    --error:    #e74856;  // matches base16 - 12 used by gruvbox dark
}
