/*
* Name: Kanagawa
* Author: Tommaso Laurenzi (https://github.com/rebelot)
*/

html[data-theme="kanagawa"][data-mode="dark"] {
	--bg:       #1f1f28;
	--bg-light: #16161d;
	--text:     #dcd7ba;
	--brand:    #dcd7ba;   // FIXME  Base24 #;
	--accent:   #dcd7ba;  // FIXME Base24 #
	--primary:  #dcd7ba;  TODO!
	--secondary: #dcd7ba;  // FIXME Base24 #
	--comment:  #727169;
	--meta:      #dcd7ba;  // TODO!
	--operator: #dcd7ba;  // this matches base16 - FIXME Base24 #;
	--keyword:  #957fb8;  // this matches base16 - FIXME Base24 #;
	--regex:    #6a9589;  // this matches base16
	--property: #dcd7ba;  // base24 #;
	--string:   #76946a;  // this matches base16
	--literal:  #ffa066;  // FIXME Base24 #;
	--hint:     #c0a36e;  // FIXME Base24 #;


    --success:  #76946a;  // 14 used by gruvbox dark
    --warning:  #ffa066;  // 13 used by gruvbox dark
    --info:     #6a9589;  // 16 used by gruvbox dark
    --error:    #c34043;  // matches base16 - 12 used by gruvbox dark
}
