/*
* Name: Equilibrium Gray Dark
* Author: Carlo Abelli
*/

html[data-theme="equilibrium-gray-dark"][data-mode="dark"] {
	--bg:       #111111;
	--bg-light: #1b1b1b;
	--text:     #ababab;
	--brand:    #ababab;   // FIXME  Base24 #;
	--accent:   #ababab;  // FIXME Base24 #
	--primary:  #ababab;  TODO!
	--secondary: #ababab;  // FIXME Base24 #
	--comment:  #919191;
	--meta:      #ababab;  // TODO!
	--operator: #ababab;  // this matches base16 - FIXME Base24 #;
	--keyword:  #6a7fd2;  // this matches base16 - FIXME Base24 #;
	--regex:    #00948b;  // this matches base16
	--property: #ababab;  // base24 #;
	--string:   #7f8b00;  // this matches base16
	--literal:  #df5923;  // FIXME Base24 #;
	--hint:     #bb8801;  // FIXME Base24 #;


    --success:  #7f8b00;  // 14 used by gruvbox dark
    --warning:  #df5923;  // 13 used by gruvbox dark
    --info:     #00948b;  // 16 used by gruvbox dark
    --error:    #f04339;  // matches base16 - 12 used by gruvbox dark
}
