/*
* Name: OneDark Dark
* Author: olimorris (https://github.com/olimorris)
*/

html[data-theme="onedark-dark"][data-mode="dark"] {
	--bg:       #000000;
	--bg-light: #1c1f24;
	--text:     #abb2bf;
	--brand:    #abb2bf;   // FIXME  Base24 #;
	--accent:   #abb2bf;  // FIXME Base24 #
	--primary:  #abb2bf;  TODO!
	--secondary: #abb2bf;  // FIXME Base24 #
	--comment:  #565c64;
	--meta:      #abb2bf;  // TODO!
	--operator: #abb2bf;  // this matches base16 - FIXME Base24 #;
	--keyword:  #d55fde;  // this matches base16 - FIXME Base24 #;
	--regex:    #2bbac5;  // this matches base16
	--property: #abb2bf;  // base24 #;
	--string:   #89ca78;  // this matches base16
	--literal:  #d19a66;  // FIXME Base24 #;
	--hint:     #e5c07b;  // FIXME Base24 #;


    --success:  #89ca78;  // 14 used by gruvbox dark
    --warning:  #d19a66;  // 13 used by gruvbox dark
    --info:     #2bbac5;  // 16 used by gruvbox dark
    --error:    #ef596f;  // matches base16 - 12 used by gruvbox dark
}
