/*
* Name: Stella
* Author: Shrimpram
*/

html[data-theme="stella"][data-mode="dark"] {
	--bg:       #2b213c;
	--bg-light: #362b48;
	--text:     #998bad;
	--brand:    #998bad;   // FIXME  Base24 #;
	--accent:   #998bad;  // FIXME Base24 #
	--primary:  #998bad;  TODO!
	--secondary: #998bad;  // FIXME Base24 #
	--comment:  #7f7192;
	--meta:      #998bad;  // TODO!
	--operator: #998bad;  // this matches base16 - FIXME Base24 #;
	--keyword:  #c594ff;  // this matches base16 - FIXME Base24 #;
	--regex:    #9bc7bf;  // this matches base16
	--property: #998bad;  // base24 #;
	--string:   #acc79b;  // this matches base16
	--literal:  #8865c6;  // FIXME Base24 #;
	--hint:     #c7c691;  // FIXME Base24 #;


    --success:  #acc79b;  // 14 used by gruvbox dark
    --warning:  #8865c6;  // 13 used by gruvbox dark
    --info:     #9bc7bf;  // 16 used by gruvbox dark
    --error:    #c79987;  // matches base16 - 12 used by gruvbox dark
}
