/*
* Name: Grayscale Light
* Author: Alexandre Gavioli (https://github.com/Alexx2/)
*/

html[data-theme="grayscale-light"][data-mode="light"] {
	--bg:       #f7f7f7;
	--bg-light: #e3e3e3;
	--text:     #464646;
	--brand:    #464646;   // FIXME  Base24 #;
	--accent:   #464646;  // FIXME Base24 #
	--primary:  #464646;  TODO!
	--secondary: #464646;  // FIXME Base24 #
	--comment:  #525252;
	--meta:      #464646;  // TODO!
	--operator: #464646;  // this matches base16 - FIXME Base24 #;
	--keyword:  #747474;  // this matches base16 - FIXME Base24 #;
	--regex:    #868686;  // this matches base16
	--property: #464646;  // base24 #;
	--string:   #8e8e8e;  // this matches base16
	--literal:  #999999;  // FIXME Base24 #;
	--hint:     #a0a0a0;  // FIXME Base24 #;


    --success:  #8e8e8e;  // 14 used by gruvbox dark
    --warning:  #999999;  // 13 used by gruvbox dark
    --info:     #868686;  // 16 used by gruvbox dark
    --error:    #7c7c7c;  // matches base16 - 12 used by gruvbox dark
}
