/*
* Name: Railscasts
* Author: Ryan Bates (http://railscasts.com)
*/

html[data-theme="railscasts"][data-mode="dark"] {
	--bg:       #2b2b2b;
	--bg-light: #272935;
	--text:     #e6e1dc;
	--brand:    #e6e1dc;   // FIXME  Base24 #;
	--accent:   #e6e1dc;  // FIXME Base24 #
	--primary:  #e6e1dc;  TODO!
	--secondary: #e6e1dc;  // FIXME Base24 #
	--comment:  #d4cfc9;
	--meta:      #e6e1dc;  // TODO!
	--operator: #e6e1dc;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b6b3eb;  // this matches base16 - FIXME Base24 #;
	--regex:    #519f50;  // this matches base16
	--property: #e6e1dc;  // base24 #;
	--string:   #a5c261;  // this matches base16
	--literal:  #cc7833;  // FIXME Base24 #;
	--hint:     #ffc66d;  // FIXME Base24 #;


    --success:  #a5c261;  // 14 used by gruvbox dark
    --warning:  #cc7833;  // 13 used by gruvbox dark
    --info:     #519f50;  // 16 used by gruvbox dark
    --error:    #da4939;  // matches base16 - 12 used by gruvbox dark
}
