/*
* Name: Precious Light Warm
* Author: 4lex4 &lt;4lex49@zoho.com&gt;
*/

html[data-theme="precious-light-warm"][data-mode="light"] {
	--bg:       #fff5e5;
	--bg-light: #ece4d6;
	--text:     #4e5359;
	--brand:    #4e5359;   // FIXME  Base24 #;
	--accent:   #4e5359;  // FIXME Base24 #
	--primary:  #4e5359;  TODO!
	--secondary: #4e5359;  // FIXME Base24 #
	--comment:  #5d6065;
	--meta:      #4e5359;  // TODO!
	--operator: #4e5359;  // this matches base16 - FIXME Base24 #;
	--keyword:  #7a50c6;  // this matches base16 - FIXME Base24 #;
	--regex:    #0e7767;  // this matches base16
	--property: #4e5359;  // base24 #;
	--string:   #557300;  // this matches base16
	--literal:  #a25600;  // FIXME Base24 #;
	--hint:     #876500;  // FIXME Base24 #;


    --success:  #557300;  // 14 used by gruvbox dark
    --warning:  #a25600;  // 13 used by gruvbox dark
    --info:     #0e7767;  // 16 used by gruvbox dark
    --error:    #b14745;  // matches base16 - 12 used by gruvbox dark
}
