/*
* Name: Brush Trees
* Author: Abraham White &lt;abelincoln.white@gmail.com&gt;
*/

html[data-theme="brushtrees"][data-mode="light"] {
	--bg:       #e3efef;
	--bg-light: #c9dbdc;
	--text:     #6d828e;
	--brand:    #6d828e;   // FIXME  Base24 #;
	--accent:   #6d828e;  // FIXME Base24 #
	--primary:  #6d828e;  TODO!
	--secondary: #6d828e;  // FIXME Base24 #
	--comment:  #8299a1;
	--meta:      #6d828e;  // TODO!
	--operator: #6d828e;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b386b2;  // this matches base16 - FIXME Base24 #;
	--regex:    #86b3b3;  // this matches base16
	--property: #6d828e;  // base24 #;
	--string:   #87b386;  // this matches base16
	--literal:  #d8bba2;  // FIXME Base24 #;
	--hint:     #aab386;  // FIXME Base24 #;


    --success:  #87b386;  // 14 used by gruvbox dark
    --warning:  #d8bba2;  // 13 used by gruvbox dark
    --info:     #86b3b3;  // 16 used by gruvbox dark
    --error:    #b38686;  // matches base16 - 12 used by gruvbox dark
}
