/*
* Name: Unikitty Dark
* Author: Josh W Lewis (@joshwlewis)
*/

html[data-theme="unikitty-dark"][data-mode="dark"] {
	--bg:       #2e2a31;
	--bg-light: #4a464d;
	--text:     #bcbabe;
	--brand:    #bcbabe;   // FIXME  Base24 #;
	--accent:   #bcbabe;  // FIXME Base24 #
	--primary:  #bcbabe;  TODO!
	--secondary: #bcbabe;  // FIXME Base24 #
	--comment:  #9f9da2;
	--meta:      #bcbabe;  // TODO!
	--operator: #bcbabe;  // this matches base16 - FIXME Base24 #;
	--keyword:  #bb60ea;  // this matches base16 - FIXME Base24 #;
	--regex:    #149bda;  // this matches base16
	--property: #bcbabe;  // base24 #;
	--string:   #17ad98;  // this matches base16
	--literal:  #d65407;  // FIXME Base24 #;
	--hint:     #dc8a0e;  // FIXME Base24 #;


    --success:  #17ad98;  // 14 used by gruvbox dark
    --warning:  #d65407;  // 13 used by gruvbox dark
    --info:     #149bda;  // 16 used by gruvbox dark
    --error:    #d8137f;  // matches base16 - 12 used by gruvbox dark
}
