/*
* Name: caroline
* Author: ed (https://codeberg.org/ed)
*/

html[data-theme="caroline"][data-mode="dark"] {
	--bg:       #1c1213;
	--bg-light: #3a2425;
	--text:     #a87569;
	--brand:    #a87569;   // FIXME  Base24 #;
	--accent:   #a87569;  // FIXME Base24 #
	--primary:  #a87569;  TODO!
	--secondary: #a87569;  // FIXME Base24 #
	--comment:  #8b5d57;
	--meta:      #a87569;  // TODO!
	--operator: #a87569;  // this matches base16 - FIXME Base24 #;
	--keyword:  #a63650;  // this matches base16 - FIXME Base24 #;
	--regex:    #6b6566;  // this matches base16
	--property: #a87569;  // base24 #;
	--string:   #806c61;  // this matches base16
	--literal:  #a63650;  // FIXME Base24 #;
	--hint:     #f28171;  // FIXME Base24 #;


    --success:  #806c61;  // 14 used by gruvbox dark
    --warning:  #a63650;  // 13 used by gruvbox dark
    --info:     #6b6566;  // 16 used by gruvbox dark
    --error:    #c24f57;  // matches base16 - 12 used by gruvbox dark
}
