/*
* Name: Penumbra Dark Contrast Plus Plus
* Author: Zachary Weiss (https://github.com/zacharyweiss)
*/

html[data-theme="penumbra-dark-contrast-plus-plus"][data-mode="dark"] {
	--bg:       #0d0f13;
	--bg-light: #181b1f;
	--text:     #dedede;
	--brand:    #dedede;   // FIXME  Base24 #;
	--accent:   #dedede;  // FIXME Base24 #
	--primary:  #dedede;  TODO!
	--secondary: #dedede;  // FIXME Base24 #
	--comment:  #aeaeae;
	--meta:      #dedede;  // TODO!
	--operator: #dedede;  // this matches base16 - FIXME Base24 #;
	--keyword:  #b69cf6;  // this matches base16 - FIXME Base24 #;
	--regex:    #00c4d7;  // this matches base16
	--property: #dedede;  // base24 #;
	--string:   #54c794;  // this matches base16
	--literal:  #e09f47;  // FIXME Base24 #;
	--hint:     #a9b852;  // FIXME Base24 #;


    --success:  #54c794;  // 14 used by gruvbox dark
    --warning:  #e09f47;  // 13 used by gruvbox dark
    --info:     #00c4d7;  // 16 used by gruvbox dark
    --error:    #f58c81;  // matches base16 - 12 used by gruvbox dark
}
