/*
* Name: Tango
* Author: @Schnouki, based on the Tango Desktop Project
*/

html[data-theme="tango"][data-mode="dark"] {
	--bg:       #2e3436;
	--bg-light: #8ae234;
	--text:     #d3d7cf;
	--brand:    #d3d7cf;   // FIXME  Base24 #;
	--accent:   #d3d7cf;  // FIXME Base24 #
	--primary:  #d3d7cf;  TODO!
	--secondary: #d3d7cf;  // FIXME Base24 #
	--comment:  #729fcf;
	--meta:      #d3d7cf;  // TODO!
	--operator: #d3d7cf;  // this matches base16 - FIXME Base24 #;
	--keyword:  #75507b;  // this matches base16 - FIXME Base24 #;
	--regex:    #06989a;  // this matches base16
	--property: #d3d7cf;  // base24 #;
	--string:   #4e9a06;  // this matches base16
	--literal:  #ef2929;  // FIXME Base24 #;
	--hint:     #c4a000;  // FIXME Base24 #;


    --success:  #4e9a06;  // 14 used by gruvbox dark
    --warning:  #ef2929;  // 13 used by gruvbox dark
    --info:     #06989a;  // 16 used by gruvbox dark
    --error:    #cc0000;  // matches base16 - 12 used by gruvbox dark
}
