/*
* Name: Bright
* Author: Chris Kempson (http://chriskempson.com)
*/

html[data-theme="bright"][data-mode="dark"] {
	--bg:       #000000;
	--bg-light: #303030;
	--text:     #e0e0e0;
	--brand:    #e0e0e0;   // FIXME  Base24 #;
	--accent:   #e0e0e0;  // FIXME Base24 #
	--primary:  #e0e0e0;  TODO!
	--secondary: #e0e0e0;  // FIXME Base24 #
	--comment:  #d0d0d0;
	--meta:      #e0e0e0;  // TODO!
	--operator: #e0e0e0;  // this matches base16 - FIXME Base24 #;
	--keyword:  #d381c3;  // this matches base16 - FIXME Base24 #;
	--regex:    #76c7b7;  // this matches base16
	--property: #e0e0e0;  // base24 #;
	--string:   #a1c659;  // this matches base16
	--literal:  #fc6d24;  // FIXME Base24 #;
	--hint:     #fda331;  // FIXME Base24 #;


    --success:  #a1c659;  // 14 used by gruvbox dark
    --warning:  #fc6d24;  // 13 used by gruvbox dark
    --info:     #76c7b7;  // 16 used by gruvbox dark
    --error:    #fb0120;  // matches base16 - 12 used by gruvbox dark
}
