/*
* Name: Material Palenight
* Author: Nate Peterson
*/

html[data-theme="material-palenight"][data-mode="dark"] {
	--bg:       #292d3e;
	--bg-light: #444267;
	--text:     #959dcb;
	--brand:    #959dcb;   // FIXME  Base24 #;
	--accent:   #959dcb;  // FIXME Base24 #
	--primary:  #959dcb;  TODO!
	--secondary: #959dcb;  // FIXME Base24 #
	--comment:  #8796b0;
	--meta:      #959dcb;  // TODO!
	--operator: #959dcb;  // this matches base16 - FIXME Base24 #;
	--keyword:  #c792ea;  // this matches base16 - FIXME Base24 #;
	--regex:    #89ddff;  // this matches base16
	--property: #959dcb;  // base24 #;
	--string:   #c3e88d;  // this matches base16
	--literal:  #f78c6c;  // FIXME Base24 #;
	--hint:     #ffcb6b;  // FIXME Base24 #;


    --success:  #c3e88d;  // 14 used by gruvbox dark
    --warning:  #f78c6c;  // 13 used by gruvbox dark
    --info:     #89ddff;  // 16 used by gruvbox dark
    --error:    #f07178;  // matches base16 - 12 used by gruvbox dark
}
