/*
* Name: Apathy
* Author: Jannik Siebert (https://github.com/janniks)
*/

html[data-theme="apathy"][data-mode="dark"] {
	--bg:       #031a16;
	--bg-light: #0b342d;
	--text:     #81b5ac;
	--brand:    #81b5ac;   // FIXME  Base24 #;
	--accent:   #81b5ac;  // FIXME Base24 #
	--primary:  #81b5ac;  TODO!
	--secondary: #81b5ac;  // FIXME Base24 #
	--comment:  #5f9c92;
	--meta:      #81b5ac;  // TODO!
	--operator: #81b5ac;  // this matches base16 - FIXME Base24 #;
	--keyword:  #4c963e;  // this matches base16 - FIXME Base24 #;
	--regex:    #963e4c;  // this matches base16
	--property: #81b5ac;  // base24 #;
	--string:   #883e96;  // this matches base16
	--literal:  #3e7996;  // FIXME Base24 #;
	--hint:     #3e4c96;  // FIXME Base24 #;


    --success:  #883e96;  // 14 used by gruvbox dark
    --warning:  #3e7996;  // 13 used by gruvbox dark
    --info:     #963e4c;  // 16 used by gruvbox dark
    --error:    #3e9688;  // matches base16 - 12 used by gruvbox dark
}
