/*
* Name: Gruvbox dark, pale
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*/

html[data-theme="gruvbox-dark-pale"][data-mode="dark"] {
	--bg:       #262626;
	--bg-light: #3a3a3a;
	--text:     #dab997;
	--brand:    #dab997;   // FIXME  Base24 #;
	--accent:   #dab997;  // FIXME Base24 #
	--primary:  #dab997;  TODO!
	--secondary: #dab997;  // FIXME Base24 #
	--comment:  #949494;
	--meta:      #dab997;  // TODO!
	--operator: #dab997;  // this matches base16 - FIXME Base24 #;
	--keyword:  #d485ad;  // this matches base16 - FIXME Base24 #;
	--regex:    #85ad85;  // this matches base16
	--property: #dab997;  // base24 #;
	--string:   #afaf00;  // this matches base16
	--literal:  #ff8700;  // FIXME Base24 #;
	--hint:     #ffaf00;  // FIXME Base24 #;


    --success:  #afaf00;  // 14 used by gruvbox dark
    --warning:  #ff8700;  // 13 used by gruvbox dark
    --info:     #85ad85;  // 16 used by gruvbox dark
    --error:    #d75f5f;  // matches base16 - 12 used by gruvbox dark
}
