/*
* Name: Dracula
* Author: Jamy Golden (http://github.com/JamyGolden), based on Dracula Theme (http://github.com/dracula)
*/

html[data-theme="dracula"][data-mode="dark"] {
	--bg:       #282a36;
	--bg-light: #363447;
	--text:     #f8f8f2;
	--brand:    #f8f8f2;   // FIXME  Base24 #;
	--accent:   #f8f8f2;  // FIXME Base24 #
	--primary:  #f8f8f2;  TODO!
	--secondary: #f8f8f2;  // FIXME Base24 #
	--comment:  #9ea8c7;
	--meta:      #f8f8f2;  // TODO!
	--operator: #f8f8f2;  // this matches base16 - FIXME Base24 #;
	--keyword:  #ff79c6;  // this matches base16 - FIXME Base24 #;
	--regex:    #8be9fd;  // this matches base16
	--property: #f8f8f2;  // base24 #;
	--string:   #50fa7b;  // this matches base16
	--literal:  #ffb86c;  // FIXME Base24 #;
	--hint:     #f1fa8c;  // FIXME Base24 #;


    --success:  #50fa7b;  // 14 used by gruvbox dark
    --warning:  #ffb86c;  // 13 used by gruvbox dark
    --info:     #8be9fd;  // 16 used by gruvbox dark
    --error:    #ff5555;  // matches base16 - 12 used by gruvbox dark
}
