/*
* Name: Black Metal (Marduk)
* Author: metalelf0 (https://github.com/metalelf0)
*/

html[data-theme="black-metal-marduk"][data-mode="dark"] {
	--bg:       #000000;
	--bg-light: #121212;
	--text:     #c1c1c1;
	--brand:    #c1c1c1;   // FIXME  Base24 #;
	--accent:   #c1c1c1;  // FIXME Base24 #
	--primary:  #c1c1c1;  TODO!
	--secondary: #c1c1c1;  // FIXME Base24 #
	--comment:  #999999;
	--meta:      #c1c1c1;  // TODO!
	--operator: #c1c1c1;  // this matches base16 - FIXME Base24 #;
	--keyword:  #999999;  // this matches base16 - FIXME Base24 #;
	--regex:    #aaaaaa;  // this matches base16
	--property: #c1c1c1;  // base24 #;
	--string:   #a5aaa7;  // this matches base16
	--literal:  #aaaaaa;  // FIXME Base24 #;
	--hint:     #626b67;  // FIXME Base24 #;


    --success:  #a5aaa7;  // 14 used by gruvbox dark
    --warning:  #aaaaaa;  // 13 used by gruvbox dark
    --info:     #aaaaaa;  // 16 used by gruvbox dark
    --error:    #5f8787;  // matches base16 - 12 used by gruvbox dark
}
