/*
* Name: Humanoid light
* Author: Thomas (tasmo) Friese
*/

html[data-theme="humanoid-light"][data-mode="light"] {
	--bg:       #f8f8f2;
	--bg-light: #efefe9;
	--text:     #232629;
	--brand:    #232629;   // FIXME  Base24 #;
	--accent:   #232629;  // FIXME Base24 #
	--primary:  #232629;  TODO!
	--secondary: #232629;  // FIXME Base24 #
	--comment:  #60615d;
	--meta:      #232629;  // TODO!
	--operator: #232629;  // this matches base16 - FIXME Base24 #;
	--keyword:  #700f98;  // this matches base16 - FIXME Base24 #;
	--regex:    #008e8e;  // this matches base16
	--property: #232629;  // base24 #;
	--string:   #388e3c;  // this matches base16
	--literal:  #ff3d00;  // FIXME Base24 #;
	--hint:     #ffb627;  // FIXME Base24 #;


    --success:  #388e3c;  // 14 used by gruvbox dark
    --warning:  #ff3d00;  // 13 used by gruvbox dark
    --info:     #008e8e;  // 16 used by gruvbox dark
    --error:    #b0151a;  // matches base16 - 12 used by gruvbox dark
}
