/*
* Name: vulcan
* Author: Andrey Varfolomeev
*/

html[data-theme="vulcan"][data-mode="dark"] {
	--bg:       #041523;
	--bg-light: #122339;
	--text:     #5b778c;
	--brand:    #5b778c;   // FIXME  Base24 #;
	--accent:   #5b778c;  // FIXME Base24 #
	--primary:  #5b778c;  TODO!
	--secondary: #5b778c;  // FIXME Base24 #
	--comment:  #6b6977;
	--meta:      #5b778c;  // TODO!
	--operator: #5b778c;  // this matches base16 - FIXME Base24 #;
	--keyword:  #9198a3;  // this matches base16 - FIXME Base24 #;
	--regex:    #977d7c;  // this matches base16
	--property: #5b778c;  // base24 #;
	--string:   #977d7c;  // this matches base16
	--literal:  #9198a3;  // FIXME Base24 #;
	--hint:     #adb4b9;  // FIXME Base24 #;


    --success:  #977d7c;  // 14 used by gruvbox dark
    --warning:  #9198a3;  // 13 used by gruvbox dark
    --info:     #977d7c;  // 16 used by gruvbox dark
    --error:    #818591;  // matches base16 - 12 used by gruvbox dark
}
